protobuf==4.25.9
termcolor==3.3.0
pycodestyle==2.12.1
msgpack==1.2.1
cloudpickle==3.1.2
toolz==1.1.0
distrax==0.1.4
nest-asyncio==1.6.0
pydantic_core==2.46.4
pytest-cov==6.0.0
snowballstemmer==3.1.1
wandb==0.28.0
iniconfig==2.3.0
coverage==7.15.0
filelock==3.29.5
colorama==0.4.6
click==8.4.2
astunparse==1.6.3
requests==2.34.2
flake8==7.1.1
opt_einsum==3.4.0
etils==1.14.0
wheel==0.47.0
google-pasta==0.2.0
rich==15.0.0
absl-py==2.4.0
mypy==1.15.0
orbax-checkpoint==0.11.5
pytest==8.3.4
wrapt==2.2.2
tox==4.56.1
pyproject-api==1.10.1
GitPython==3.1.50
optax==0.2.4
python-discovery==1.4.2
tensorflow==2.16.2
ml_collections==1.0.0
ml-dtypes==0.3.2
numpy==1.26.4
platformdirs==4.10.0
tomli_w==1.2.0
tensorstore==0.1.74
flake8-docstrings==1.7.0
vmcnet==0.1.0
immutabledict==4.3.1
cachetools==7.1.4
certifi==2026.6.17
namex==0.1.0
optree==0.19.1
setuptools==82.0.1
gitdb==4.0.12
smmap==5.0.3
Pygments==2.20.0
virtualenv==21.5.1
humanize==4.16.0
mdurl==0.1.2
distlib==0.4.3
PyYAML==6.0.3
keras==3.15.0
mccabe==0.7.0
simplejson==4.1.1
tensorboard==2.16.2
libclang==18.1.1
zipp==4.1.0
scipy==1.17.1
frozendict==2.4.7
tf2jax==0.3.6
charset-normalizer==3.4.7
markdown-it-py==4.2.0
MarkupSafe==3.0.3
wandb-workspaces==0.4.4
Werkzeug==3.1.8
chex==0.1.88
dm-tree==0.1.8
flatbuffers==25.12.19
pluggy==1.6.0
pydocstyle==6.3.0
fsspec==2026.6.0
jax==0.4.34
tensorflow-probability==0.25.0
pathspec==1.1.1
pydantic==2.13.4
pip==26.1.2
packaging==26.0
urllib3==2.7.0
typing_extensions==4.16.0
tensorflow-macos==2.16.2
decorator==5.3.1
sentry-sdk==2.64.0
tensorboard-data-server==0.7.2
kfac-jax==0.0.6
pytest-mock==3.14.0
gast==0.7.0
idna==3.18
typing-inspection==0.4.2
annotated-types==0.7.0
flax==0.10.2
grpcio==1.81.1
Markdown==3.10.2
mypy_extensions==1.1.0
six==1.17.0
jaxlib==0.4.34
h5py==3.16.0
black==25.1.0
pyflakes==3.2.0
neural-tangents==0.6.5
tomli==2.4.0
more-itertools==10.8.0
jaraco.text==4.0.0
platformdirs==4.4.0
wheel==0.46.3
autocommand==2.2.2
importlib_metadata==8.7.1
backports.tarfile==1.2.0
jaraco.functools==4.4.0
jaraco.context==6.1.0
packaging==26.0
zipp==3.23.0
