nvidia-cudnn-cu12==9.24.0.43
distrax==0.1.5
flatbuffers==25.12.19
tensorflow==2.21.0
tf2jax==0.3.7
nvidia-cufft-cu12==11.4.1.4
dm-tree==0.1.8
rich==15.0.0
gast==0.7.0
optax==0.2.4
nvidia-cuda-runtime-cu12==12.9.79
typing_extensions==4.16.0
immutabledict==4.3.1
PyYAML==6.0.3
frozendict==2.4.7
opt_einsum==3.4.0
libclang==18.1.1
requests==2.34.2
platformdirs==4.10.1
optree==0.19.1
ml_collections==1.0.0
zipp==4.1.0
pip==26.1.2
numpy==2.5.1
namex==0.1.0
neural-tangents==0.6.5
packaging==26.0
pydantic_core==2.46.4
msgpack==1.2.1
google-pasta==0.2.0
decorator==5.3.1
jax-cuda12-pjrt==0.4.34
fsspec==2026.6.0
annotated-types==0.7.0
termcolor==3.3.0
etils==1.14.0
jaxlib==0.4.34
nvidia-cusolver-cu12==11.7.5.82
vmcnet==0.1.0
setuptools==83.0.0
nvidia-nvjitlink-cu12==12.9.86
astunparse==1.6.3
certifi==2026.6.17
protobuf==7.35.1
wandb==0.28.1
markdown-it-py==4.2.0
sentry-sdk==2.66.0
urllib3==2.7.0
nvidia-cublas-cu12==12.9.2.10
humanize==4.16.0
keras==3.15.0
typing-inspection==0.4.2
scipy==1.18.0
nvidia-cuda-nvcc-cu12==12.9.86
jax==0.4.34
mdurl==0.1.2
wrapt==2.2.2
charset-normalizer==3.4.9
chex==0.1.90
nvidia-cuda-nvrtc-cu12==12.9.86
flax==0.10.2
tensorstore==0.1.84
toolz==1.1.0
idna==3.18
absl-py==2.5.0
nvidia-cuda-cupti-cu12==12.9.79
jax-cuda12-plugin==0.4.34
nvidia-nccl-cu12==2.30.7
cloudpickle==3.1.2
nest-asyncio==1.6.0
orbax-checkpoint==0.11.5
ml_dtypes==0.5.4
kfac-jax==0.0.6
tensorflow-probability==0.25.0
nvidia-cusparse-cu12==12.5.10.65
click==8.4.2
wheel==0.47.0
simplejson==4.1.1
Pygments==2.20.0
pydantic==2.13.4
h5py==3.14.0
six==1.17.0
grpcio==1.82.1
